# Python (бэкенд)
Backend/__pycache__/
Backend/.env
Backend/*.pyc
Backend/alembic/versions/*.py
!Backend/alembic/versions/.gitkeep

# Node.js (фронтенд)
Frontend/node_modules/
Frontend/.expo/
Frontend/.env
Frontend/npm-debug.*
Frontend/*.log

# Общие
.DS_Store
Thumbs.db
*.tmp